.projects-section {

    padding: var(--main-padding);
    text-align: center;
}

.project-box {
    color: var(--mainColor);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    height: 550px;
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
    text-align: center;
    padding: 25px 5px;
}

.project-box img {
    width: 100%;
    height: 250px;
    object-fit: fill;
    border-radius: 5px;
    opacity: .5;
    transition: all ease .5s;
}

.project-box img:hover {
    transform: scale(1.01);
    opacity: 1;
    cursor: pointer;
}

.project-box button {
    width: 50%;
    background-color: var(--mainBG);
    color: var(--mainColor);
    font-weight: 600;
    text-decoration: none;
    background-color: unset;
    border: 1px solid black;
}