:root {

  --mainColor: #45474B;
  --mainBG:#f5f7f8da;
  --main-padding:80px 20px;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--mainBG) !important;
  color: var(--mainColor);

}